.img-row,
.img-row > *
  display: inline-flex
  gap: 8px
  flex-direction: row
  align-items: flex-start
  flex-wrap: nowrap 
  width: auto

/* 真正的图片元素 */
.img-row img
  display: block
  height: auto
